ul {
  list-style: none;
}
.nav-link,
a {
  text-decoration: none;
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
