.btn-custom {
  color: rgba(255, 255, 255, 0.931);
  font-weight: 500;
  margin: 1rem 0;
  padding: 1rem 1rem;
  border-radius: 4rem;
  outline: none;
  border: none;
  background-color: #a99eb9;
  background-color: #564374;
  cursor: pointer;
}
